/* _trig-03.scss */

/* 080623 Modified for Eleventy SCSS
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
*/
.parent {
  width: 50px;
  aspect-ratio: 1;
  background: lightblue;
  border-radius: 50%;

  position: relative;
}

.circle {
  --size: 25px;
  --offset: 100px;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: orangered;
  position: absolute;
  left: calc(var(--size) / 2);
  top: calc(var(--size) / 2);
  transform: translate(
    calc(cos(var(--degrees)) * var(--offset)),
    calc(sin(var(--degrees)) * var(--offset))
  );
}

// in this CSS pane, go to the down arrow icon
// and select "view compiled css" to see the
// CSS instead of the Sass
$total: 5;
@for $i from 0 through ($total - 1) {
  .circle:nth-of-type(#{$i + 1}) {
    --degrees: calc(#{$i} * (360deg / #{$total}));
  }
}

/*
html {
  color-scheme: dark light;
}
*/