:root {
/** RED */
--red-12: hsla(339,91.3%,9%, 1);
--red-11: hsla(343,68.7%,18.8%, 1);
--red-10: hsla(350,56.4%,30.6%, 1);
--red-09: hsla(356,51.4%,42.7%, 1);
--red-08: hsla(3,60.5%,54.3%, 1);
--red-07: hsla(9,100%,63.9%, 1);
--red-06: hsla(21,98.9%,64.3%, 1);
--red-05: hsla(33,87.8%,71.2%, 1);
--red-04: hsla(41,73%,78.2%, 1);
--red-03: hsla(52,56.9%,87.3%, 1);
--red-02: hsla(60,48.7%,92.4%, 1);
--red-01: hsla(70,60%,98%, 1);

/** YELLOW */
--yel-12: hsla(32,87%,9%, 1);
--yel-11: hsla(36,83.9%,17.1%, 1);
--yel-10: hsla(39,83.1%,25.5%, 1);
--yel-09: hsla(42,84.9%,33.7%, 1);
--yel-08: hsla(44,86.9%,41.8%, 1);
--yel-07: hsla(47,86.7%,50%, 1);
--yel-06: hsla(47,80.4%,63.9%, 1);
--yel-05: hsla(51,71%,75.7%, 1);
--yel-04: hsla(56,65.5%,82.9%, 1);
--yel-03: hsla(60,63.3%,90.4%, 1);
--yel-02: hsla(63,72.4%,94.3%, 1);
--yel-01: hsla(66,100%,98%, 1);

/** BLUE */
--blu-12: hsla(240,87%,9%, 1);
--blu-11: hsla(227,71.7%,18%, 1);
--blu-10: hsla(222,62.8%,28.4%, 1);
--blu-09: hsla(218,58.8%,39%, 1);
--blu-08: hsla(216,56.9%,50%, 1);
--blu-07: hsla(213,88.9%,61%, 1);
--blu-06: hsla(211,89.6%,66.1%, 1);
--blu-05: hsla(207,88.8%,75.5%, 1);
--blu-04: hsla(205,86.7%,82.4%, 1);
--blu-03: hsla(202,84.6%,89.8%, 1);
--blu-02: hsla(201,81.3%,93.7%, 1);
--blu-01: hsla(200,81.8%,97.8%, 1);

/** GREEN: */
--grn-12: hsla(120,87%,9%, 1);
--grn-11: hsla(129,57.4%,18.4%, 1);
--grn-10: hsla(135,49%,28.4%, 1);
--grn-09: hsla(141,45.5%,38.8%, 1);
--grn-08: hsla(146,44.2%,49.2%, 1);
--grn-07: hsla(150,65.7%,60%, 1);
--grn-06: hsla(156,68.4%,66.5%, 1);
--grn-05: hsla(164,70.9%,77.1%, 1);
--grn-04: hsla(170,70.7%,83.9%, 1);
--grn-03: hsla(175,73.3%,91.2%, 1);
--grn-02: hsla(177,71.4%,94.5%, 1);
--grn-01: hsla(180,80%,98%, 1);

--clr-neutral-100: hsla(0, 0%, 100%, 1);
--clr-neutral-300: hsla(0, 0%, 50%, 1);
--clr-neutral-400: hsla(0, 0%, 40%, 1);
--clr-neutral-500: hsla(0, 0%, 60%, 1);
--clr-neutral-900: hsla(0, 0%, 10%, 1);

--front:  var(--blu-12, hsla(120,87%,9%));
--back:  var(--red-01, hsla(70,60%,98%));
}