/*! #5 base/cwebba-base-01.scss  */
/** _cwebba-base-01 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  font-size:16px;
  line-height:1.5;
}

body {
  font-family: var(--ff-body);
  font-size: var(--fs-500);
  color: var(--front);
  background: var(--back);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1;
    margin-inline: auto;
    max-width: 72rem;
}  

/* 072423+072523 NEW */
article {
  display: flow-root;
  overflow: hidden; 
  /*margin: 30px -20px; */
}


/** typgraphy */

.article-title,
.section-title {
  color: var(--red-09);/*--brand-200 *var(--clr-primary-500);*/
  margin-bottom:1rem;
}

a {
  text-decoration:none;
  }

img {
  max-width:100%;
  display:block;
  }
    
figure img, figure object, figure embed, figure video {
  max-width: 100%;
  width: 100%;
  height: auto;
  border:1px solid #662323;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  padding: 0;
  margin: 0 0 1em;
  font-size: 1rem;
}

figcaption {
  margin: 1rem 0 0.5rem;
  font-size: 0.9375rem;
  line-height: 1.5;
  color: --red-10;
}

/* This may cause double margin
figcaption p {
  margin: 0;
  font-size: inherit;
  line-height: 1.25;
  color: --red-10;
  text-align: left;
}

figcaption p:last-of-type {
  margin: 0.5em 0 0 0;
} */

/* Image floats & sizes */
@media (min-width:600px) {
  /*  .fig-card {
  max-width:24rem;
 
  border:1px solid hsl(355 50% 10% / 1);
  } */
  
/* Image floats */
.left {margin: 0 1rem 1rem 0;
  float:left;
  }
  
.right {margin: 0 0 1rem 1rem;
  float:right;
  }

/* Figure sizing */
.sml {
  width: clamp(10rem, 5.714rem + 11.429vw, 16rem);
    } /* clamp(10rem, 25vw, 16rem); */
  
  .big {
    width: clamp(16rem, 10.286rem + 15.238vw, 24rem);
    }
  
  .huge {
    width: clamp(18.75rem, 2.143rem + 44.286vw, 42rem);
      } 
  /*     width: 50%;
  clamp(18.75rem, 2.143rem + 44.286vw, 42rem);
  clamp(25rem, 10.714rem + 38.095vw, 45rem); 
  width: clamp(28rem, 15.857rem + 32.381vw, 45rem);*/
  }

  /* This is to impose a standard ratio to blog floating images */
  .blog-float-image {
    aspect-ratio: 3.875 / 4;
    object-fit: cover;
  }


h1,
h2,
h3 {
    font-family: var(--ff-heading);
  font-weight: var(--fw-600);
  line-height: 1.1;
  letter-spacing: -2px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
//    font-style:italic;
//      color: #458787;
    font-weight: var(--fw-6);
    color: var(--red-09); /* --brand-300 */
    letter-spacing: var(--font-letterspacing-2);
    font-family: var(--ff-heading);
    text-wrap: balance;
  }
    
    h1 {
      font-size: calc(var(--rem) * 2);
        line-height: var(--typography-spacing-vertical);
    }
      
    h2 {
        font-size: calc(var(--rem) * 1.75);
        /*    --typography-spacing-vertical: 2.625rem; */
        line-height: var(--typography-spacing-vertical);
    }
    
    h3 {
      font-size: calc(var(--rem) * 1.5);
      line-height: var(--typography-spacing-vertical);
      /*      --typography-spacing-vertical: 2.25rem;*/
    }
    
    h4 {
      --font-size: 1.25rem;
      font-size: calc(var(--rem) * 1.25);
      /*  --typography-spacing-vertical: 1.874rem;*/
      line-height: var(--typography-spacing-vertical);
    }
    
    h5 {
      font-size: calc(var(--rem) * 1.125);
      line-height: var(--typography-spacing-vertical);
    }
    h6 {
        font-size: 1rem;
        line-height: var(--typography-spacing-vertical);
    }

    blockquote {
      /*  color: #241000; */
      font-style: italic;
      color: var(--front);
        font-size: 1.0625em;
        line-height: 1.325em;
        padding: 0.25em 1% 0.375em 2%;
        margin: 0 0 0.5em 0;
        background: hsla(150, 50%, 86%, 0.3);
        border-radius:0.5rem;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 1px 6px 6px hsla(150, 50%, 90%, 0.3);
      }
      
  /*    blockquote.big {
        color: #241000;
        font-size: 1.125em;
        line-height: 1.375em;
        letter-spacing: 0.1em;
        background: rgba(148, 209, 179, 0.3);
        padding: 0.25em 1% 0.375em 2%;
        margin: 1.25em 0 1.375em 0;
      } */     

    em {  font-weight: 600;
    }
    
    strong {
      font-weight: var(--fw-700);
    }
    
    section,
    .section {
      padding: min(10vh, 10em) 0;
    }
    
  /* //////////////////////
    Utility Classes
    /////////////////////// */
  
  /* select all direct childen of .flow
     and add margin to the top for proper
     spacing */
  
  .flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-spacer, 1em);
}

.container {
  margin-inline: auto;
  padding-inline: 1.5em;
  max-width: 72rem;
}

.container--narrow {
  max-width: 65rem;
}

.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
}

.flex-row {
  flex-direction: row;
}

.text-center {
  text-align: center;
}
  
/* typgraphy */

.article-title,
.section-title {
color: var(--red-09); /*--clr-primary-140*/
}

.article-title {
font-size: var(--fs-700);
}

.section-title {
font-size: var(--fs-600);
}

/* //////////////////////
Header
/////////////////////// */

.page-header {
  padding: 1em 0;
  background-image: url(/assets/images/retina-dust.png);
}

.page-header__content {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 720px) {
  .page-header__content {
    flex-direction: column;
    align-items: center;
  }
}

.nav-list {
  margin: 0 1em 0 0;
  padding: 0;
}

.nav-list a {
  color: var(--blu-09);
  text-decoration: none;
}

.nav-list a:focus,
.nav-list a:hover {
  color: var(--blu-07); /* --clr-primary-080 */
  text-decoration: underline;
}

nav ul a {
  color: var(--blu-09); /* --clr-neutral-900*/
  text-decoration: none;
  padding:0.125em 0.25em;
}

nav ul a:focus,
nav ul a:hover {
  color: var(--blu-07); /*--clr-primary-080*/
  text-decoration: none;
  background: var(--blu-02); /* #EAF9DB */
  padding:0.125em 0.25em;
  border-radius: 6px;
}

/** Cwebba Top Nav */

nav ul { 
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 1em);
  list-style: none;
}

nav ul li { 
  text-decoration: none;
}

li ul, li ol {
  margin: 0;
}

nav ul a,
nav ul a {
  text-decoration: none;
}

/* dropdown */
nav ul li:nth-child(3) {
  position: relative;
/* background-color:rgba(148, 25, 85, 0.4); */
}

nav ul ul {
  background: var(--red-02); /* #F9FBFA */
/*  background: linear-gradient(180deg, rgba(253, 254, 251, 0.9) 0%, #f9fbfa 17%, #a9c6b8 100%);*/
  color: var(--blu-09); /* #fff*/
  display: none;
  margin: 0;
  padding: 0 0.5em;
  width: 5em;
  height: 3.375em;
  /* HERE this has an affect - 150% width */
  position: absolute;
  top: 1.5em;
  left: -1em;
  z-index: 2;
  border: solid 1px #EFEFEF;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

nav ul li:hover > ul {
  display: block;
}

.logo-box-head {
  width:12em;
}


  /* //////////////////////
    Footer
    /////////////////////// */
  
    .site-footer {
        --logo-color: currentColor;
        padding: 2em 0;
        color: var(--red-12); /* var(--neutral-600) */
        background-color: var(--yel-02); /*--clr-primary-030*/
/*        background-color: var(--shhh); --clr-primary-500*/
        background-image: url(/assets/images/retina-dust.png);
        text-align: center;
      }

      .logo-box-footer {
        max-width:12em;
        margin:auto;
    }

    .copyright {
      font-size:66%;
    }
    
      /* //////////////////////
    Homepage
    /////////////////////// */
  
  .hero > div {
    display: grid;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    align-items: center;
    gap: 3em;
  }
  
  .hero__image {
    width: 100%;
    /* max-height: max(15rem, 40vh); */
    object-fit: cover;
  }
  
  /* View Transition Styles 072323 */
/* These style seem to lessen the View Transition effect. Just the meta declaration seems to work better ? 072323 */  
.hero {
  view-transition-name: hero;
}

@keyframes fade-in {
  from { opacity: 0;
  }
to { opacity: 1;
  }
}
@keyframes fade-out {
  from { opacity: 1;
  }
to { opacity: 0;
  }
}

/*
@keyframes slide-to-left {
  from {
    transform: translateX(-4rem);
  }
  to {
    transform: translateX(0rem);
  }
}
*/
::view-transition-old(hero),
::view-transition-new(hero) { 
  mix-blend-mode: normal;
}

::view-transition-old(img),
::view-transition-new(img) { 
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  animation: fade-out 450ms, cubic-bezier(0, 0, 0.2, 1),
  slide-to-right 450ms, cubic-bezier(0, 0, 0.2, 1);
}

::view-transition-new(root) {
  animation: fade-in 450ms, cubic-bezier(0, 0, 0.2, 1),
  slide-to-left 450ms, cubic-bezier(0, 0, 0.2, 1);
  mix-blend-mode: normal;
}
/* END View Transitions */

  @media (min-width: 45em) {
    .hero > div {
      grid-auto-flow: column;
    }
  }
  
  .featured-articles {
    background-color: color-mix(in hsl shorter hue, var(--grn-03) 20%, var(--red-03));
    background-color: hsl(66 50% 60% / 0.125);
  }
  
  .articles__list {
    --flow-spacer: 3rem;
    margin: 6rem 0;
  }
  
  /* This does not appear to be in use 081323
  .postgrid__list {
    --flow-spacer: 3rem;
    display:grid; 
    gap: 1rem;
    grid-template-columns:repeat(auto-fit, minmax(calc(33% - 3em), 1fr));    
  }
  */
    /* //////////////////////
    Individual article page
    /////////////////////// */
  
    .main-article {
      margin-bottom: 3rem;
    }
  
    .main-article__figure figcaption {
      margin: 1rem 0;
      font-size: var(--fs-300);
      opacity: .9;
    }
  
  /* //////////////////////
    Article snippets
    /////////////////////// */
  
  .snippet {
    display: grid;
    gap: 1em;
    grid-template-areas:
      "image"
      "title"
      "meta"
      "body"
      "button";
  }
  
  .snippet__image {
    grid-area: image;
    width: 100%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
  .snippet__title {
    grid-area: title;
  }
  .snippet__meta {
    grid-area: meta;
    color: var(--red-10); /*--clr-neutral-300*/
  }
  
  .snippet__meta span {
    color: var(--red-10); /* --clr-neutral-900 */
  }
  
  .snippet .btn {
    grid-area: button;
  }
  
  .snippet__title {
    color: var(--red-09); /* --clr-primary-110 */
    font-size: var(--fs-500);
  }
  
  .snippet__title a {
    color: inherit;
    text-decoration: none;
  }
  
  .snippet__title a:hover,
  .snippet__title a:focus {
    color: var(--red-05); /* --clr-primary-130 */
  } 
  
  @media (min-width: 45em) {
    .snippet {
      grid-template-areas:
        "image title"
        "image meta"
        "image body"
        "image button";
      grid-column-gap: 3em;
      grid-template-columns: 40% 1fr;
      grid-template-rows: min-content min-content min-content 1fr;
    }
  }

  .postgrid__list {
    display:grid; 
    gap:3rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  @media(width > 760px) {
.postgrid__list { grid-template-columns:repeat(auto-fit, minmax(calc(50% - 1.5em), 1fr));
}
}
@media(width > 1220px) {
.postgrid__list { 
grid-template-columns:repeat(auto-fit, minmax(calc(33% - 3em), 1fr));
}
}

.postgrid__list li {
  display:flex;
  flex: 1 0 auto;
}
  .card {
    display: flex;
    flex-direction:column;
        background:hsla(12,30%,96%,0.4);
    /*flex-basis: 22em; */   
    /* flex: 0 1 22em;  flex-shrink = 1 */
    /*flex-grow: 1; */
      padding:0;
      border-radius:9px;
      box-shadow: 3px 8px 42px 9px hsla(210,40%,50%,0.3);
      box-shadow: 2px 6px 32px 3px hsla(240,30%,50%,0.4);
        }

.card__image {
  display: block;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
/*	background-size: cover; */
  object-fit: cover;
	aspect-ratio: 4 / 3;
}

  .card h2 {
    color:hsla(0,50%,40%,1);
  }

  .card_content {
    display: flex;
    flex-direction:column;
    align-items: stretch;
    line-height: 1.375;
        padding: 0.5rem 1rem;
    flex-grow: 2;
    justify-items: stretch;
    margin-block: 1rem;
  }
  
  .snippet__body {
    flex-grow: 2;
  }
  .btn {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    padding: 0.5em 1.75em;
    border-radius: 0.375em;
    align-self: center;
    justify-self: start;
    margin-block:1.5rem 1rem;
  }
  
  .btn:focus {
    outline: 0.125em solid var(--red-06); /* --clr-primary-160*/
    outline-offset: 0.25em;
  }
  
  .btn--primary {
    background: var(--red-09); /* --clr-primary-120 */
    color: var(--red-01);; /* var(--red-09);  --clr-neutral-100*/
    font-weight: var(--fw-700);
    border: 2px solid var(--red-01);
  }/*var(--clr-primary-110)*/
  .btn--primary:hover,
  .btn--primary:focus {
    color: var(--red-09);; /*   --clr-neutral-100*/
    background: var(--red-05); /* --clr-primary-130 */
    border-color: var(--red-09); /* --clr-primary-090*/
  }
  
  /* this uses KP neutral vars. Transferring nuetrals to vars-colors.scss 081023*/
  .btn--neutral {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-900);
    font-weight: var(--fw-700);
    border: 2px solid var(--clr-neutral-900);
  }
  
  .btn--neutral:hover,
  .btn--neutral:focus {
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-900);
  }

/** * * * [ Custom Lihtbox Styles ] * * * * */

.lightbox {
  /* this is for JavaScript */
}

.slbImageWrap {
  font-size:80%;
  line-height:1.1;
}

article > a {
/*  float: left;
  width: 33.3333%;  */
  padding: 1px; 
  box-sizing: border-box; 
  position: relative;

}

article > a:first-child { left: -1px; }
article > a:last-child { right: -1px; }

article > a > figure > img {
  display: block; width: 100%;
}
