
{# <!--    <link rel="stylesheet" href="css/style.css"> 
 <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />    --> #}
<link rel="stylesheet" href="{{ root }}css/simpleLightbox.min.css">
<link rel="stylesheet" href="{{ root }}css/styles.css">